<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a [href]='"#" + id' class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">{{ _title }}</a>
        </h4>
    </div>
    <div [id]="id" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col-md">Input</th>
                    <th scope="col-md">Pipe</th>
                    <th scope="col-md">Output</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="_title === 'Lower Case Pipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'Upper Case Pipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'Title Case Pipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'Slice Pipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'Decimal Pipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'Percent Pipe'">
                        
                    </ng-container>
                    <ng-container *ngIf="_title === 'Currency Pipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'Date Pipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'JSON Pipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'Key Value Pipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'I18nSelectPipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'I18nPluralPipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'Async Pipe'">

                    </ng-container>
                    <ng-container *ngIf="_title === 'Custom Pipe'">
                        <tr>
                            <td>{{ url }}</td>
                            <td> safeUrl </td>
                            <td>                            
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/enB2QL9Ulus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
